html, body {
    height: 100%;
    width: 100vw;
}

body {
    background: lightgray;
    display: flex;
    flex-direction: column;
}

/* Map */
#mapId {
    height: 100%;
    width: 100vw;
    background: #eee;
}