/*GLOBAL*/
html, body {
    height: 100%;
    width: 100vw;
}

body {
    background: lightgray;
    display: flex;
    flex-direction: column;
}

/*STYLING*/
.navbar-brand {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: lightcoral;
    width: 6em;
    line-height: 0.8;
}
@media (min-width: 992px) {
    .navbar-brand {margin-right: -6em;}
}

/* MAP */
#mapId {
    height: 100%;
    width: 100vw;
    background: #eee;
}

/*Adapted from: https://leafletjs.com/examples/choropleth/*/
.infoDisplay {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.infoDisplay h4 {
    font-size: 1.3em;
    color: #777;
}